$componentcolor: #B1009B;

.todo_comp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "a b";
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: $componentcolor;
    height: 50px;
    margin: 15px 0 15px 0;
    border-radius: 10px;
    box-shadow: 5px 10px hsla(0, 0%, 0%, 0.308);
}
.text{
    grid-area: a;
    margin-right: 50px;
}
.icons{
    grid-area: b;
    padding-left: 10px;
}
.input_editing{
    padding-left: 5%;
    padding-top: 5%;
    font-weight: bold;
    font-size: 16px;
    color: white;;
    background-color: #55004b;
    border-radius: 10px;
}
.input_editing:focus{
    padding-left: 5%;
    padding-top: 5%;
    font-weight: bold;
    font-size: 16px;
    color: white;;
    background-color: #55004b;
    box-shadow: 3px 5px #00000046;
    border-radius: 10px;
}